- title "Post"

.post
  %h2
    = @post.title
  %p
    = @post.body

  #administer
    = button_to "Edit", edit_post_path(@post)
    = button_to "Destroy", @post, :confirm => 'Are you sure?', :method => :delete
