%article.container
  .wrapper
    %h1.title
      About Us
    .body
      %p
        =Lorem::Base.new('paragraphs', 1).output
      %p
        =Lorem::Base.new('paragraphs', 1).output
      %p
        =Lorem::Base.new('paragraphs', 1).output
